body {
  font-family: Helvetica, sans-serif;
  background: #e6e6e6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}



.form {
  font-family: Helvetica, sans-serif;
  max-width: 400px;
  padding: 32px;
  background: #f7f7f7;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  scale: 1.1;

  @media only screen and (max-width: 600px) {
    padding: 4%;
    margin: 12%;
  }
}

.form h1 {
  background: #6c11a9;
  padding: 20px 0;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
  font-size: 25px;
}

.form .form-input,
.form .form-input {
  box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
}

.form .form-input:focus,
.form .form-input:focus {
  box-shadow: 0 0 5px #6c11a9;
  padding: 3%;
  border: 1px solid #6c11a9;
}

.form .submitbutton {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 150px;
  padding: 3%;
  background: #6c11a9;
  border-bottom: 2px solid #6c11a9;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  cursor: pointer;
}

.form .submitbutton:hover {
  background: #6c11a9;
}

#qrcode-container {
  display: none;
}

.qrcode {
  padding: 16px;
}

.qrcode img {
  margin: 0 auto;
}